body{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color:black;
    color:white;
}

#container{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: white;
    flex-wrap: no-wrap;
    
}
#form_part{
background-color: white;
flex: 2 1 0;
width: 100px;
height: 850px;
display: flex;
flex-direction: column;
}
#image_part{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 4 0;
    max-width: 950px;
    max-height: 850px;
    background-image: url('pexels-luck-galindo-544268.jpg');
    background-size: 650px 850px;
    background-repeat: no-repeat;
    background-color: transparent;
    color:azure;
    font-size: large;
}
#part1{
    padding: 2% 0% 5% 15%;
    flex: 1 1 q;
    display: flex;
    align-items: end;
    font-size: xx-large;
    color:cornflowerblue;
    background:black;
    text-shadow: 2px 2px 8px #FF0000;
    text-align: center;
    
    
}
#part2{
    flex: 1 1 auto;
    /*display: flex;
    align-items: center;*/
    text-shadow: 2px 2px 8px #ae00ff;
    color:darkcyan;
    padding: 5%;
    font-size: x-large;
    background-color:black;
    text-align: center;
}
#part3{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    padding: 5%;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: black;
    text-shadow: 2px 2px 8px #ae00ff;
}
button{
    max-width: 300px;
    min-height: 40px;
    color:black;
    margin: 2%;
    font-size: x-large;
    background-color:rgb(174, 56, 179);
    font-weight: bolder;
}
#credit{
    
    align-self: end;
    position: relative;
    top: 730px;
    right: 250px;
    box-shadow: 0px 2px  #888888;
}
#logo{
    
    position: relative;
    top: 300px;
    width: 640px;
    background-color: rgb(40, 40, 49, 0.4);
   
    font-family: myFirstFont;
    font-weight:bolder;
    size: 100px;
    font-size: 100px;
    display: flex;
    justify-content: center;
}
@font-face {
    font-family: myFirstFont;
    src: url('Norse-Bold.otf');
  }
  h3{
    position: relative;
    bottom: 50px;
    font-size: xx-large;
    font-family: sans-serif;
    font-style: italic;
   
  }
  a{
    color:cornflowerblue;
  }
  #one{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    height: auto;
  }
  #two{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    height: auto;
  }
  #dad{
    display:flex;
    gap: 100px;

  }
  input{
    height: 20px;
    border-radius: 10%;
    border:black solid;
    background-color:white;
  }
  label{
    font-family: Tahoma, sans-serif;
  }
  #forma{
    position: relative;
    left: 200px;
  }
  
  