body{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color:black;
    color:white;
}

#container{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: aqua;
    
}
#form_part{
background-color: white;
flex: 1 1 1;
width: 1300px;
height: 850px;
display: flex;
flex-direction: column;
}
#image_part{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 1;
    width: 650px;
    height: 850px;
    background-image: url('pexels-luck-galindo-544268.jpg');
    background-size: 650px 850px;
    background-repeat: no-repeat;
    background-color: transparent;
    color:azure;
    font-size: large;
}
#part1{
    padding: 5%;
    flex: 1 1 q;
    display: flex;
    align-items: end;
    font-size: xx-large;
    color:azure;
    background-color:rgb(17, 3, 31);
}
#part2{
    flex: 1 1 auto;
    /*display: flex;
    align-items: center;*/
    background-image: linear-gradient(rgb(143, 13, 126), rgb(98, 17, 173), rgb(19, 19, 172));
    color:azure;
    padding: 5%;
    font-size: x-large;
}
#part3{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color:rgb(17, 3, 31);
    color:azure;
    padding: 5%;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button{
    margin: 2%;
    font-size: x-large;
}
#credit{
    align-self: end;
    position: relative;
    top: 600px;
    right: 250px;
}
#logo{
    position: relative;
    top: 300px;
    width: 640px;
    background-color: rgb(40, 40, 49, 0.4);
   
    font-family: myFirstFont;
    font-weight:bolder;
    size: 100px;
    font-size: 100px;
    display: flex;
    justify-content: center;
}
@font-face {
    font-family: myFirstFont;
    src: url('Norse-Bold.otf');
  }